# Bytecode
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
.venv/
venv/
env/

# Distribución / build
dist/
build/
*.egg-info/

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/
*.iml

# Variables de entorno
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log